body {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(189, 35, 35, 1) 77%, rgba(210, 138, 61, 1) 100%);
}

.tech {
  background-color: rgb(0, 68, 69);
  color: white;
  padding: 10px;
  margin: 2px;
  text-align: center;
  display: inline-block;
}

i {
  font-size: 36px;
}

.info-bar {
  background-color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.email {
  text-align: center;
}

.fa-linkedin {
  color: rgb(9, 97, 184);
  background-color: white;
}

.card {
  box-shadow: 2px 2px 5px black;
}

img {
  max-width: 18rem !important;
  min-height: 10rem !important;
  max-height: 10rem !important;
  object-fit: contain;
}

.descriptor {
  font-family: Roboto, sans-serif;
  padding: 0 3px;
  border-radius: 5px;
  display: inline-block;
}

.front-end {
  background-color: lightsalmon;
}

.full-stack {
  background-color: lightgreen;
}

.mobile {
  background-color: rgb(241, 181, 181);
}

.desktop {
  background-color: lightskyblue;
}

.name {
  color: white;
  font-family: sans-serif;
  text-shadow: 1px 1px 2px black;
}

.name-font {
  font-family: neon, sans-serif;
  color: rgb(86, 137, 248);
  text-shadow: 3px 3px 15px rgb(65, 87, 174);
  font-size: 3rem !important;
  animation: flicker 3s infinite alternate;
}

@font-face {
  font-family: neon;
  src: url("../NEON____.TTF") format("truetype");
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes flicker {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }
}
