body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

.tech {
  background-color: rgb(0, 68, 69);
  color: white;
  padding: 10px;
  margin: 2px;
  text-align: center;
  display: inline-block;
}

i {
  font-size: 36px;
}

.info-bar {
  background-color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.email {
  text-align: center;
}

.fa-linkedin {
  color: rgb(9, 97, 184);
  background-color: white;
}

.card {
  box-shadow: 2px 2px 5px black;
}

img {
  max-width: 18rem !important;
  min-height: 10rem !important;
  max-height: 10rem !important;
  object-fit: contain;
}

.descriptor {
  font-family: Roboto, sans-serif;
  padding: 0 3px;
  border-radius: 5px;
  display: inline-block;
}

.front-end {
  background-color: lightsalmon;
}

.full-stack {
  background-color: lightgreen;
}

.mobile {
  background-color: rgb(241, 181, 181);
}

.desktop {
  background-color: lightskyblue;
}

.name {
  color: white;
  font-family: sans-serif;
  text-shadow: 1px 1px 2px black;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
